<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SarvletOne</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>home.jsp</welcome-file> 
    <welcome-file></welcome-file>
   
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <servlet>
  <servlet-name>FormSubmited</servlet-name>
  <servlet-class>projectOne.FormSubmited</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FormSubmited</servlet-name>
  <url-pattern>/FormSubmited</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>SuccessForm</servlet-name>
  <servlet-class>projectOne.SuccessForm</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SuccessForm</servlet-name>
  <url-pattern>/SuccessForm</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>